<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<span th:text = "${currentUser}"></span>
</body>
</html>